#hdrRow span {
   border-top: 1px solid #000;
}
.startRow {
   border-left: 1px solid #000;
}
#hdrRow, .row {
   display: flex;
   flex-wrap: nowrap;
}
#hdrRow span {
   background: #aaa;
}
#hdrRow span, .row span {
   width: 100px;
   border-right: 1px solid #000;
   border-bottom: 1px solid #000;
   padding-left: 5px;
}

.appFrame {
   overflow: auto;
}
